@charset "utf-8";


#details-center{
    width: 100%;
    height:621px;

}

#details-center-row{
    width: 1090px;
    height: 621px;
    margin: 0 auto;
}

.delis-top{
    width: 1090px;
    height: 52px;
    font-size: 12px;
    color: #333;
    line-height: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background: springgreen;
}

.detailHd{
    box-sizing: border-box;
    width: 1090px;
    height: 569px;
    background: yellowgreen;

     
}

.m-slide{
    width: 430px;
    height: 522px;
    float: left;
  

    .picsWrap{
        width: 430px;
        height:430px;
        background: violet;
        cursor: pointer;
    }
      .list{
          width:430px ;
          height:78px ;
          margin-top: 14px;
          background: yellow;
      }

    }

    .m-slide-lis{
        width:430px ;
        height:78px ;
        box-sizing: border-box;
        position: relative;
        li{
            width: 78px;
            height: 78px;
            float: left;
             overflow: hidden;
         margin-left: 10px;
          vertical-align: top;
          background: white;
          cursor: pointer;
     img{
         width: 100%;
         height: 100%;
     }
        }


    }

    .m-slide-lis li:first-child{
        margin-left: 0;
      
           
    }