@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none; }

#header {
  height: 176px;
  border-bottom: 1px solid #999; }

#setiNav {
  height: 36px;
  background: #333; }

.setiNav-top {
  width: 1090px;
  height: 100%;
  margin: 0 auto; }

.setiNav-top-l {
  width: 358px;
  height: 36px;
  float: left; }

.yx-cp-m-noticeList {
  background: url(http://yanxuan.nosdn.127.net/d132c2561f18f1149d566a60d05fd9b7.gif) center left no-repeat;
  margin-left: 2px;
  overflow: hidden;
  height: 36px;
  line-height: 36px;
  box-sizing: border-box; }

.yx-cp-noticeListUL {
  top: 0px;
  position: relative;
  box-sizing: border-box; }

.yx-cp-noticeItem {
  padding-left: 26px;
  height: 36px;
  box-sizing: border-box;
  display: list-item;
  font-size: 12px;
  cursor: pointer;
  color: #ccc; }

.yx-cp-noticeTxt {
  color: #cc9756;
  text-decoration: underline; }

.setiNav-top-r {
  width: 471px;
  height: 36px;
  float: right; }

.yx-cp-siteNavItem {
  width: 564px;
  height: 36px; }
  .yx-cp-siteNavItem li {
    float: left;
    color: #ccc;
    cursor: pointer;
    margin-left: 10px;
    position: relative;
    box-sizing: border-box;
    line-height: 36px; }
    .yx-cp-siteNavItem li span {
      margin-right: 10px;
      display: inline-block;
      height: 16px;
      border-left: 1px solid #5c5c5c;
      vertical-align: middle; }
    .yx-cp-siteNavItem li i {
      width: 11px;
      height: 5px;
      display: inline-block;
      margin-left: 10px;
      background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s24d0453a5f-dba1cb6952.png?imageView&type=webp) no-repeat 0px -690px; }
  .yx-cp-siteNavItem li:hover {
    color: white; }

#Enterprise {
  display: inline-block; }

.Enterprise-t {
  width: 86px;
  height: 122px;
  background: red;
  position: absolute;
  top: 36px;
  left: 0;
  display: none;
  z-index: 10; }

.setiNav-top-r .yx-cp-siteNavItem :hover .Enterprise-t {
  display: block;
  color: white; }

.yx-cp-siteNavItem .last i {
  width: 7px;
  height: 11px;
  display: inline-block;
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s24d0453a5f-dba1cb6952.png?imageView&type=webp) no-repeat 0px 0px; }

.setiNav-botton {
  height: 140px;
  width: 100%; }

.setiNav-botton-row {
  width: 1090px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box; }

.logo {
  width: 212px;
  height: 60px;
  position: absolute;
  top: 24px;
  left: 0;
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s24d0453a5f-dba1cb6952.png?imageView&type=webp) no-repeat 0px -301px; }

.shoppingcart {
  width: 134px;
  height: 38px;
  box-sizing: border-box;
  position: relative;
  margin-top: 26px;
  margin-left: 49px;
  float: right;
  z-index: 4;
  border: 1px solid #CC9756;
  border-radius: 19px;
  padding: 8px 0; }
  .shoppingcart i {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 22px;
    background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s24d0453a5f-dba1cb6952.png?imageView&type=webp) no-repeat -2px -147px; }
  .shoppingcart span {
    color: #CC9756;
    margin-left: 5px;
    margin-top: -1px;
    font-size: 14px;
    box-sizing: border-box;
    cursor: pointer;
    padding-bottom: 5px;
    display: inline-block; }
  .shoppingcart .j-cart-num {
    width: 19px;
    height: 19px;
    margin-left: 10px;
    display: inline-block;
    margin-top: -1px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    z-index: 1;
    background-position: 0 -51px; }

.headersearch {
  position: relative;
  margin-top: 26px;
  float: right;
  width: 532px;
  height: 36px;
  box-sizing: border-box; }
  .headersearch .searchbutton {
    width: 90px;
    height: 38px;
    background-color: #CC9756;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    cursor: pointer;
    float: right;
    color: #fff;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px; }
  .headersearch i {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 18px;
    top: 12px;
    background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s24d0453a5f-dba1cb6952.png?imageView&type=webp) no-repeat 0px -517px;
    z-index: 10; }

.headersearch .searchInput {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
  height: 32px;
  line-height: 38px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #CC9756;
  border-bottom-left-radius: 19px;
  border-top-left-radius: 19px;
  font-size: 14px;
  width: 402px;
  padding-left: 38px;
  outline: 0;
  overflow: hidden; }

.headernav {
  width: 1090px;
  height: 30px;
  font-weight: 700;
  position: absolute;
  height: 30px;
  bottom: 21px;
  box-sizing: border-box;
  color: black; }
  .headernav li {
    float: left;
    margin-top: 27px;
    padding: 0 26px;
    font-size: 14px;
    cursor: pointer; }
  .headernav li:hover {
    color: #CC9756; }

.headernav-row {
  width: 1202px;
  height: 405px;
  position: absolute;
  top: 51px;
  left: -56px;
  background: #fff;
  color: black;
  z-index: 10;
  display: none;
  border-top: 1px solid #ccc; }
  .headernav-row li {
    width: 124px;
    float: left; }

.headernav li:hover .headernav-row {
  display: block; }

#carousel {
  width: 100%;
  height: 420px;
  position: relative; }

#carousel img {
  width: 100%;
  height: 100%; }

.carousel-l {
  z-index: 9;
  width: 50px;
  height: 50px;
  position: absolute;
  display: block;
  left: 370px;
  top: 200px;
  cursor: pointer;
  background: #e2c199;
  border-radius: 50%;
  opacity: 0.6;
  font-size: 50px;
  line-height: 50px;
  border: 0; }

.carousel-r {
  z-index: 9;
  width: 50px;
  height: 50px;
  position: absolute;
  display: block;
  right: 370px;
  top: 200px;
  cursor: pointer;
  background: #e2c199;
  border-radius: 50%;
  opacity: 0.6;
  font-size: 50px;
  line-height: 50px;
  border: none; }

#carousel ul {
  width: 1902px;
  height: 28px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  z-index: 100; }
  #carousel ul li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    border: 1px #cecece solid;
    display: inline-block;
    z-index: 100; }

.picli {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s linear;
  opacity: 0; }

.bgc {
  background: white; }

#venue {
  height: 300px;
  width: 100%;
  background: #ffc2c2;
  padding-top: 20px;
  padding-bottom: 20px; }

.venue-row {
  width: 1090px;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }

.venue-top {
  height: 60px;
  margin-bottom: 10px;
  background: url(https://yanxuan.nosdn.127.net/1c7710c7907114bcfe410b870d0ffb23.png?type=webp&imageView&thumbnail=1090x0&quality=95);
  background-size: 100% 100%; }

.venue-bottom {
  height: 190px; }

.venue-bottom .promitem-l {
  width: 265px;
  height: 190px;
  background: url(https://yanxuan.nosdn.127.net/56ee94b6a5fdf398e24a47ec288ac816.png?type=webp&imageView&thumbnail=273x0&quality=95);
  background-size: 100% 100%;
  position: relative;
  float: left;
  margin-right: 10px; }

.venue-bottom .promitem-c {
  width: 265px;
  height: 190px;
  background: url(https://yanxuan.nosdn.127.net/82338e27d071a73564221bb618d3114b.png?type=webp&imageView&thumbnail=273x0&quality=95);
  background-size: 100% 100%;
  position: relative;
  float: left;
  margin-right: 10px; }

.venue-bottom .promitem-r {
  width: 265px;
  height: 190px;
  background: url(https://yanxuan.nosdn.127.net/6abd4b40dc3fa7b885af63e7bde5a681.png?type=webp&imageView&thumbnail=273x0&quality=95);
  background-size: 100% 100%;
  position: relative;
  float: left;
  margin-right: 10px; }

.venue-bottom .promitem-rr {
  width: 265px;
  height: 190px;
  background: url(https://yanxuan.nosdn.127.net/b46741beed5171bd592e01b5aaf78c54.png?type=webp&imageView&thumbnail=273x0&quality=95);
  background-size: 100% 100%;
  position: relative;
  float: left; }

.promitem-l-t {
  width: 146px;
  height: 38px;
  padding-left: 0;
  position: absolute;
  top: 23px;
  left: 24px;
  font-size: 18px;
  line-height: 34px; }

.promitem-l-t-top {
  height: 18px;
  line-height: 18px;
  color: #f7ad58;
  font-size: 18px;
  font-weight: 700; }

.promitem-l-t-bottom {
  color: #f7ad58;
  font-size: 12px; }

.black {
  color: black; }

.promitem-l-t img {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 45px;
  left: 125px; }

#newproduct {
  width: 100%;
  height: 510px;
  position: relative; }

.newproduct-row {
  width: 1090px;
  height: 510px;
  margin: 0 auto;
  margin-top: 30px; }

.new-header {
  width: 1090px;
  height: 48px;
  padding-bottom: 20px; }

.header-left {
  width: 244px;
  height: 28px;
  font-size: 28px;
  font-weight: 700;
  margin-right: 20px; }

.header-right {
  width: 100px;
  height: 28px;
  float: right; }

.new-floot {
  width: 1100px;
  height: 364px; }

.new-floot ul {
  height: 364px; }

.new-floot li {
  width: 265px;
  height: 364px;
  margin-right: 10px;
  float: left; }

.newproduct-bt {
  position: absolute;
  top: 200px;
  left: 350px;
  background: #e2c199;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  opacity: 0.6; }

.newproduct-br {
  position: absolute;
  top: 200px;
  right: 350px;
  background: #e2c199;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  opacity: 0.6; }

.new-floot .new-top {
  width: 265px;
  height: 265px;
  margin-bottom: 8px;
  background: #f4f4f4; }

.new-bootom {
  width: 265px;
  height: 91px;
  text-align: center;
  font-size: 13px; }
  .new-bootom .new-bootom-t {
    width: 200px;
    height: 20px;
    margin: 0 auto 3px;
    color: #fff;
    text-align: center; }
    .new-bootom .new-bootom-t span {
      margin-left: 6px;
      height: 20px;
      display: inline-block;
      line-height: 20px;
      padding: 0 5px;
      font-size: 12px;
      background: #e36844; }
  .new-bootom .name {
    width: 166px;
    margin: 0 auto 4px;
    max-height: 40px;
    line-height: 20px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    color: black; }
  .new-bootom .new-bootom-b {
    padding: 1px 0 9px;
    font-size: 13px;
    line-height: 13px;
    color: #d4282d;
    height: 26px;
    width: 265px; }

#flxedNav {
  width: 108px;
  height: 422px;
  background: white;
  z-index: 20;
  position: absolute;
  top: 0px;
  left: 280px;
  border: 1px solid #E2DED6;
  border-radius: 4px; }
  #flxedNav .firstItem {
    width: 108px;
    height: 28px;
    background: url(http://yanxuan.nosdn.127.net/7c1853dd59b79d823ad3c4f3a0330049.png?imageView&type=webp) no-repeat;
    font-size: 16px;
    color: #BB3343;
    text-align: center;
    line-height: 38px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-weight: 700;
    cursor: default;
    padding: 0;
    position: relative; }
    #flxedNav .firstItem span {
      position: absolute;
      left: 18px;
      width: 8px;
      border-bottom: 2px solid #BB3343;
      position: absolute;
      bottom: 9px;
      z-index: 1; }
    #flxedNav .firstItem .firstItem-r {
      position: absolute;
      bottom: 9px;
      left: 82px; }
  #flxedNav .item {
    color: #BB3343;
    width: 108px;
    height: 36px;
    padding: 1px 11px 0;
    text-align: left;
    position: relative;
    display: table;
    cursor: pointer; }
    #flxedNav .item span {
      display: block;
      width: 88px;
      border-bottom: 1px solid #E2DED6;
      position: absolute;
      bottom: -1px;
      left: 11px;
      z-index: 1; }
    #flxedNav .item .name {
      vertical-align: middle;
      display: table-cell;
      line-height: 14px;
      font-size: 12px;
      padding-left: 36px;
      color: black; }
    #flxedNav .item .sideIcon {
      position: absolute;
      top: 2px;
      left: 13px;
      width: 30px;
      height: 30px; }

#fixedtoolGoTop {
  height: 60px;
  text-align: center;
  cursor: pointer; }
  #fixedtoolGoTop i {
    width: 24px;
    height: 15px;
    display: block;
    overflow: hidden;
    font-size: 12px;
    margin: 10px 0 10px 41px;
    background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfixedtool-sb35ce57899-796b48a324.png) no-repeat 0px -273px; }

#popularity {
  width: 100% px;
  height: 618px;
  padding: 60px 0;
  background: #f4f0ea; }

.popularity-row {
  width: 1090px;
  height: 618px;
  margin: 0 auto; }

.popularity-header {
  width: 1090px;
  height: 28px;
  padding-bottom: 20px; }
  .popularity-header .header-left {
    width: 395px;
    height: 28px; }
  .popularity-header .header-right {
    width: 100px;
    height: 18px;
    float: right; }

.header-left .name {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  float: left;
  margin-right: 20px;
  float: left;
  cursor: pointer; }

.header-table {
  width: 263px;
  height: 28px;
  color: black;
  line-height: 28px;
  font-weight: 500;
  font-size: 14px;
  float: left; }
  .header-table li {
    width: 70px;
    height: 28px;
    float: left;
    cursor: pointer;
    margin-right: 10px; }

.popularity-container {
  width: 1090px;
  height: 570px; }

.popularity-populariem {
  width: 390px;
  height: 570px;
  position: relative;
  background: #fff;
  float: left; }

.container-top {
  width: 390px;
  height: 340px;
  margin-bottom: 18px;
  padding-top: 20px;
  position: relative; }

.popularity-img-1 {
  display: block;
  margin: 0 auto; }

.container-top-bottom {
  width: 100%;
  height: 30px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  background: url(https://yanxuan.nosdn.127.net/5e5ba7f9c3805cc8085368ed41aaff65.png); }

.container-top-bottom-le {
  width: 70px;
  height: 36px;
  margin-top: -6px;
  z-index: 1;
  padding-left: 8px;
  padding-right: 14px;
  float: left;
  color: black;
  border-top-right-radius: 9px;
  background: url(https://yanxuan.nosdn.127.net/ced6f7cfbd566e260ea67ec486cb9b60.png?quality=95&type=webp&imageView); }

.container-top-bottom-le-top {
  font-size: 12px;
  height: 15px;
  margin-top: 5px;
  text-align: center;
  color: papayawhip;
  color: black; }

.container-top-bottom-le-bottom {
  font-size: 14px;
  height: 20px;
  line-height: 14px;
  font-weight: 700;
  text-align: center;
  color: papayawhip;
  color: black; }

.container-top-bottom {
  color: papayawhip;
  float: left; }

.container-top .promoLogo {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 6px;
  top: 6px; }

.container-bottom {
  width: 390px;
  height: 123px;
  background: snow;
  color: black; }

.container-bottom-top {
  height: 20px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px; }

.container-bottom-top span {
  width: 58px;
  height: 20px;
  background: #e36844; }

.container-bottom-center .name {
  width: 248px;
  height: 52px;
  line-height: 26px;
  max-height: 52px;
  font-size: 18px;
  text-align: center;
  margin: 0 50px; }

.container-bottom-bottom {
  font-size: 18px;
  height: 18px;
  text-align: center; }

.container-bottom-bottom span {
  color: red;
  text-align: center;
  margin-left: -50px; }

.popularity-left {
  width: 700px;
  height: 100%;
  float: left;
  margin: 0; }

.popularity-left ul {
  width: 100%;
  height: 100%; }
  .popularity-left ul li {
    width: 223px;
    height: 280px;
    background: #fff;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    text-align: center; }

.popularity-left-top {
  border-bottom: 1px solid #F4F0EA;
  width: 223px;
  height: 181px;
  position: relative;
  margin-bottom: 8px;
  overflow: hidden;
  background: white; }

.popularity-left-bottom {
  width: 223px;
  height: 72px; }
  .popularity-left-bottom .prdtTags {
    margin-bottom: 4px;
    height: 20px;
    font-size: 0;
    color: #fff;
    width: 200px;
    margin: 0 auto 3px;
    overflow: hidden; }
  .popularity-left-bottom .name {
    width: 136px;
    margin: 0 auto 4px;
    width: 166px;
    margin: 0 auto 4px;
    max-height: 40px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    color: black; }
  .popularity-left-bottom .price {
    font-size: 13px;
    line-height: 13px;
    color: #d4282d;
    padding: 1px 0 9px;
    margin: 0; }

#deadline {
  width: 100%;
  height: 535px; }

#deadline-center {
  width: 1090px;
  height: 535px;
  margin: 0 auto;
  padding: 54px 0 54px; }

.deadline-center-header {
  width: 1090px;
  height: 48px;
  padding-bottom: 20px;
  background: chartreuse; }

.deadline-center-bd {
  width: 1090px;
  height: 376px; }

.flashSaleLt {
  width: 104px;
  height: 28px; }

.flashSaleRt {
  width: 129px;
  height: 28px;
  float: right; }

.flashSaleLt .name {
  font-size: 28px;
  font-weight: 700; }

.deadline-center-left {
  width: 224px;
  height: 376px;
  position: relative;
  float: left; }

.left-anniu {
  width: 100%;
  position: absolute;
  bottom: 4px;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0 auto; }
  .left-anniu li {
    position: relative;
    width: 8px;
    height: 8px;
    background: bisque;
    border-radius: 50%;
    margin: 0 8px 10px;
    cursor: pointer;
    display: inline-block; }

.left-ff {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #d0c4af;
  top: 158px;
  left: 5px;
  border-radius: 50%;
  opacity: 0.5;
  display: inline-block; }

.left-rr {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #d0c4af;
  top: 158px;
  right: 5px;
  border-radius: 50%;
  opacity: 0.5;
  display: inline-block; }

.deadline-center-right {
  width: 866px;
  height: 376px;
  float: left; }

.module-0 {
  width: 624px;
  height: 376px;
  float: left;
  padding: 0 17px 0 19px;
  box-sizing: border-box; }

.module-1 {
  width: 242px;
  height: 188px;
  background: crimson;
  float: right; }

.module-2 {
  width: 242px;
  height: 188px;
  float: right;
  background: cyan; }

.module-header {
  width: 588px;
  height: 24px;
  border-bottom: 1px solid #f4f0EA;
  padding: 19px 0 12px;
  font-size: 18px; }

.module-header-l {
  font-size: 16px;
  width: 64px;
  height: 24px;
  display: inline-block; }

.module-header-r {
  float: right;
  width: 60px;
  height: 18px;
  font-size: 12px;
  margin: 0;
  cursor: pointer;
  margin-top: 5px; }

#Samepart {
  width: 100%;
  height: 6800px;
  margin-top: 60px;
  box-sizing: border-box; }

#Homelife {
  width: 1090px;
  height: 865px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-sizing: border-box; }

.Homelife-header {
  width: 1090px;
  height: 48px;
  padding-bottom: 20px;
  box-sizing: border-box;
  font-size: 12px; }

.Homelife-header-l {
  width: 132px;
  height: 28px;
  float: left;
  box-sizing: border-box; }

.Homelife-header-l h3 {
  box-sizing: border-box;
  font-size: 28px;
  font-weight: 700;
  float: left;
  margin-right: 20px; }

.Homelife-header-r {
  width: 716px;
  height: 28px;
  float: right;
  font-size: 12px; }
  .Homelife-header-r a {
    display: inline-block;
    margin-top: 14px;
    margin-left: 30px; }

#Homelife .subCateList {
  width: 615px;
  height: 28px;
  display: inline-block;
  box-sizing: border-box;
  padding-top: 14px;
  font-size: 12px;
  color: black; }
  #Homelife .subCateList b {
    box-sizing: border-box;
    margin: 0 13px; }

.Homelife-banner {
  width: 1090px;
  height: 310px;
  box-sizing: border-box;
  margin-bottom: 20px; }

.Homelife-banner-row {
  width: 100%;
  height: 310px;
  position: relative;
  background: #f5f5f5;
  z-index: 1;
  box-sizing: border-box;
  background: yellowgreen; }
  .Homelife-banner-row ul {
    width: 100%;
    position: absolute;
    bottom: 4px;
    text-align: center; }
    .Homelife-banner-row ul li {
      background: blanchedalmond;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display: inline-block;
      margin: 0 8px 10px;
      color: black; }

.Homelife-banner-left {
  position: absolute;
  top: 130px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/icon-normal-s33e647f656-a21248af33.png?imageView&type=webp) no-repeat 1px -2177px; }

.Homelife-banner-right {
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/icon-normal-s33e647f656-a21248af33.png?imageView&type=webp) no-repeat 1px -4298px;
  position: absolute;
  top: 130px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  right: 0; }

.Homelife-bottom {
  width: 1090px;
  height: 411px; }
  .Homelife-bottom ul {
    width: 1100px;
    height: 100%;
    margin-right: -10px;
    box-sizing: border-box; }
    .Homelife-bottom ul li {
      width: 265px;
      height: 361px;
      float: left;
      margin: 0 10px 50px 0;
      box-sizing: border-box; }

.Homelife-bottom-td {
  width: 265px;
  height: 265px;
  background: #f4f4f4; }

.Homelife-bottom-bd {
  width: 265px;
  height: 71px; }
  .Homelife-bottom-bd .prdtTags {
    width: 200px;
    height: 20px;
    color: #fff;
    margin: 0 auto 3px;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box; }
    .Homelife-bottom-bd .prdtTags span {
      display: inline-block;
      height: 20px;
      line-height: 20px;
      color: #fff;
      padding: 0 5px;
      font-size: 12px;
      background: #e36844; }
  .Homelife-bottom-bd h4 {
    margin-top: 6px;
    text-align: center;
    margin-bottom: 6px;
    color: black; }
  .Homelife-bottom-bd .price {
    text-align: center; }
    .Homelife-bottom-bd .price span {
      display: inline-block;
      margin: 0 auto;
      color: red; }

#YXComponentFoot {
  width: 100%;
  height: 549px;
  padding-top: 60px; }

#YXComponentFoot-top {
  width: 1090px;
  height: 204px;
  margin: 0 auto; }

.YXComponentFoot-top-left {
  width: 363px;
  height: 204px;
  float: left; }
  .YXComponentFoot-top-left .serviceTel {
    width: 100%;
    height: 144px;
    background: greenyellow; }
    .YXComponentFoot-top-left .serviceTel .yx-cp-hd {
      width: 363px;
      height: 16px;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 28px;
      text-align: center; }

.YXComponentFoot-top-center {
  width: 363px;
  height: 204px;
  background: hotpink;
  float: left; }

.YXComponentFoot-top-right {
  width: 363px;
  height: 204px;
  background: indigo;
  float: left; }

#YXComponentFoot-bottom {
  width: 1090px;
  height: 187px;
  background: red;
  margin: 0 auto; }

#center {
  width: 100%;
  height: 720px;
  padding-top: 70px;
  background: #f4f0ea; }
  #center .main {
    width: 1000px;
    height: 506px;
    margin: 0 auto;
    background: white;
    position: relative;
    border: solid #999 1px; }
  #center .jx-regBox {
    width: 994px;
    height: 500px; }

#regCon {
  width: 784px;
  padding: 55px 0 0 49px;
  float: left;
  height: 441px; }
  #regCon .regCon-yonghu {
    width: 784px;
    height: 42px;
    margin-top: 15px; }

.regLabel {
  width: 260px;
  height: 42px;
  line-height: 42px;
  text-align: right;
  font-size: 16px;
  padding-right: 30px;
  float: left; }

.regInputBox {
  height: 42px;
  width: 480px;
  float: left;
  position: relative; }
  .regInputBox .regInput {
    margin-top: 4px;
    width: 302px;
    height: 35px;
    line-height: 40px;
    color: #999;
    border: 1px solid #999;
    font-size: 16px;
    border-radius: 4px; }
  .regInputBox span {
    color: red;
    font-weight: 700;
    font-size: 15px; }

.regAccBut {
  width: 524px;
  height: 42px;
  margin: 55px 0 0 291px; }
  .regAccBut .tijiao {
    width: 302px;
    height: 42px;
    font-size: 18px;
    font-family: "微软雅黑";
    color: #fff;
    border-radius: 2px;
    border: none;
    background: #e10303;
    cursor: pointer; }

#zhuce {
  width: 200px;
  height: 60px;
  position: absolute;
  top: 22px;
  left: 446px;
  font-size: 20px; }

.Click {
  position: absolute;
  top: 426px;
  left: 760px; }

#details-center {
  width: 100%;
  height: 621px; }

#details-center-row {
  width: 1090px;
  height: 621px;
  margin: 0 auto; }

.delis-top {
  width: 1090px;
  height: 52px;
  font-size: 12px;
  color: #333;
  line-height: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box; }

.detailHd {
  box-sizing: border-box;
  width: 1090px;
  height: 569px; }

.m-slide {
  width: 430px;
  height: 522px;
  float: left; }
  .m-slide .picsWrap {
    width: 430px;
    height: 430px;
    background: #f4f4f4;
    cursor: pointer; }
    .m-slide .picsWrap img {
      width: 100%;
      height: 100%; }
  .m-slide .list {
    width: 430px;
    height: 78px;
    margin-top: 14px; }

.m-slide-lis {
  width: 430px;
  height: 78px;
  box-sizing: border-box;
  position: relative; }
  .m-slide-lis li {
    width: 78px;
    height: 78px;
    float: left;
    overflow: hidden;
    margin-left: 10px;
    vertical-align: top;
    background: white;
    cursor: pointer; }
    .m-slide-lis li img {
      width: 100%;
      height: 100%; }

.m-slide-lis li:first-child {
  margin-left: 0; }

.detailHd .m-info {
  width: 620px;
  height: 536px;
  float: right; }
  .detailHd .m-info .intro {
    width: 620px;
    height: 57px;
    margin-bottom: 20px;
    box-sizing: border-box; }
    .detailHd .m-info .intro .intro-top {
      width: 620px;
      height: 20px;
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 7px;
      position: relative;
      box-sizing: border-box;
      margin-top: 10px; }
    .detailHd .m-info .intro .intro-bottom {
      width: 520px;
      height: 20px; }

.u-formctr {
  width: 620px;
  height: 243px;
  background-color: #dedede;
  border-top: 1px dotted #dedede;
  border-bottom: 1px dotted #dedede;
  padding: 0 0 13px;
  line-height: 24px;
  font-size: 13px;
  position: relative;
  padding-top: 10px;
  box-sizing: border-box;
  padding-left: 5px; }
  .u-formctr .u-formctr-price {
    width: 615px;
    height: 50px;
    margin-bottom: 5px;
    overflow: hidden; }
  .u-formctr span {
    font-size: 28px;
    font-weight: 700;
    margin-right: 1px;
    margin-top: 13px;
    margin-left: 0;
    height: 30px;
    color: red; }
  .u-formctr hr {
    margin: 10px 20px 10px 10px;
    overflow: hidden;
    border: none;
    height: 1px;
    border-bottom: 1px dashed #d2d2d2; }

.ExlusiveField {
  width: 488px;
  height: 56px; }

.m-feedbackBonus {
  width: 620px;
  height: 20px; }

.m-feedbackBonus-bt {
  padding-top: 2px;
  line-height: 20px;
  color: #666; }

.intro-bottom-tt {
  width: 620px;
  height: 116px;
  position: relative; }
  .intro-bottom-tt .f-clearfix {
    position: absolute;
    bottom: 0;
    width: 620px;
    height: 49px;
    background: whitesmoke; }
    .intro-bottom-tt .f-clearfix .f-clearfix-number {
      width: 200px;
      height: 39px;
      margin-top: 10px;
      margin-left: 10px; }

.f-clearfix-number-left {
  width: 54px;
  height: 30px;
  line-height: 30px;
  float: left; }

.f-clearfix-number-right {
  width: 134px;
  height: 30px;
  border: 1px solid #ddd;
  float: left;
  margin-bottom: 3px; }

.f-clearfix-number-right .u-selnum {
  width: 134px;
  height: 32px;
  border: 1px solid #ddd;
  display: inline-block; }
  .f-clearfix-number-right .u-selnum .less {
    border-right: 1px solid #ddd;
    position: relative;
    float: left;
    width: 35px;
    height: 30px;
    line-height: 28px;
    background: #fff;
    cursor: pointer; }
    .f-clearfix-number-right .u-selnum .less .hx {
      background: #d3d3d3;
      position: absolute;
      top: 15px;
      left: 12px;
      width: 10px;
      height: 2px;
      overflow: hidden; }
  .f-clearfix-number-right .u-selnum input {
    box-sizing: border-box;
    border-radius: 0;
    border: 0;
    width: 60px;
    margin: 0;
    font-size: 12px;
    text-align: center;
    color: #333;
    position: relative;
    float: left;
    height: 30px;
    line-height: 28px;
    background: #fff; }

.f-clearfix-number-right .u-selnum .more {
  height: 30px;
  cursor: pointer;
  box-sizing: border-box;
  border-left: 1px solid #ddd;
  background: #fff;
  width: 35px;
  float: right;
  position: relative; }
  .f-clearfix-number-right .u-selnum .more .hx {
    background: #d3d3d3;
    position: absolute;
    top: 15px;
    left: 12px;
    width: 10px;
    height: 2px;
    overflow: hidden; }
  .f-clearfix-number-right .u-selnum .more .sx {
    background: #d3d3d3;
    position: absolute;
    top: 11px;
    left: 16px;
    height: 10px;
    width: 2px; }

.buttom-inp {
  width: 608px;
  height: 80px;
  margin-left: 12px;
  margin-top: 30px;
  box-sizing: border-box; }

.buttom-inp-buttom {
  display: inline-block;
  width: 168px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #b4a078;
  border: 1px solid #b4a078;
  background-color: #f5f3ef; }
  .buttom-inp-buttom span {
    width: 168px;
    color: #333;
    text-align: center;
    display: inline-block; }

/*# sourceMappingURL=index.css.map */
